<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new_topic</title>
</head>
<body>
    {% extends "learning_logs/base.html" %}
    {% load bootstrap3 %}
    {% block header %}
        <h2>Add a new topic.</h2>
    {% endblock header %}
    {% block content %}
        <form  method="post" action="{% url 'learning_logs:new_topic' %}" class="form">
            {% csrf_token %}

            <div class="form-group">
                <input type="text" name="text" maxlength="200" class="form-control" title="" required="" placeholder="Topic" id="id_text">
            </div>
            <div class="form-group">
                <textarea type="text" name="brief" maxlength="100" class="form-control" title="" required="" placeholder="Brief" id="id_brief"></textarea>
            </div>
            <div class="form-group">
                <button name="submit" class="btn btn-primary">add topic</button>
            </div>
        </form>
    {% endblock content %}

</body>
</html>